* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 900px;
  max-width: 1000px;
  box-shadow: 4px 4px 4px #133926;
  background-color: #0C5442;
  background-image: linear-gradient(to bottom, #FFFFFF, #0C5442);
  border: 1.5pt solid #003300;
}

main {
  background-color: #FFFFFF;
  margin-left: 190px;
  padding: 1px 20px 20px 30px;
  display: block;
}

#heroHome {
  height: 300px;
  background-image: url("images/sunsetHorse.png");
  background-size: 100% 100%; 
  margin-left: 190px;
  background-repeat: no-repeat;
}

#heroBoard {
  height: 300px;
  background-image: url("images/fenceline.png");
  background-size: 100% 100%;
  margin-left: 190px;
  background-repeat: no-repeat;
}

#heroTraining {
  height:300px;
  background-image: url("images/BayBella.png");
  background-size: 100% 100%;
  margin-left: 190px;
  background-repeat: no-repeat;
}

header {
  background-color: #00B386;
  background-position: right;
  background-repeat: no-repeat;
  text-align: center;
  color: #FFFFFF;
  height: 175px;
  padding-top: 30px;
  padding-left: 3em;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia, Times New Roman, serif;
  font-size: 3em;
  letter-spacing: 0.25em;
}

h2 {
  color: #00664D;
  text-shadow: 1px 1px #CCCCCC;
  font-family: Georgia, Times New Roman, serif;
}

h3 {
  font-family: Georgia, Times New Roman, serif;
}

nav {
  padding: 1.5em;
  font-size: 120%;
  width: 160px;
  float: left;
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

nav a:link {
    color: #00664D;
}

nav a:visited {
    color: #7A7A52;
}
nav a:hover {
    color: #FFFFFF;
}
nav ul {
  list-style-type: none;
    margin: 0;
    padding-left: 0; 
    font-size: 1.2em;
}

dt {
  color: #00664D;
}

main ul {
  list-style-image: url("images/marker.gif");
}

footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: Georgia, Times New Roman, serif;
  padding: 15px;
  margin-left: 190px;
  background-color: #FFFFFF;
}

.barn {
  color: #70DBDB;
  font-weight: bold;
}

#contact {
  font-size: 90%;
}
